
body {
    background-color:#899c4c ;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/perfect-weather-with-gradient-sky-ym0nn79vhoqg34v3.jpg');
    background-size: cover; 
  }
  
  h1 {
    color: white;
    font-size: 2em;
  }
  
  input, button {
    padding: 10px;
    font-size: 1em;
    background-color: aquamarine;
    border-radius: 40px;
  }
  
  button {
    background-color: green;
    color: white;
    border-radius:  10px; ;

  }
  
  
  
  